.cartao-pokemon {
    display: none;
    box-shadow: rgba(50, 50, 93, 0.25) 
    0px 50px 100px -20px, rgba(0, 0, 0, 0.3)
    0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 
    0px -2px 6px 0px inset;;
    border-radius: 20px;
}

.cartao-pokemon .cartao-Topo {
  padding: 30px 40px 0px;
}

.cartao-pokemon .none {
    margin-bottom: 5px;
}

.cartao-pokemon .tipo {
    font-size: 12px;
    background-color: #FFFFFF;
    opacity: 0.7;
    border-radius: 10px;
    padding: 2px 10px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}

.cartao-pokemon .detalhes { 
    color: #FFFFFF;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.cartao-pokemon .cartao-imagem {
    width: 350px;
    height: 350px;
}

.cartao-pokemon img{
    max-height: 100%;
}

.cartao-pokemon .cartao-informacoes {
   display: flex;
   justify-content: space-between;
   background-color: #FFFFFF;
   padding: 80px 30px 50px;
   margin-top: -70px;
   border-bottom-left-radius: 8px;
   border-top-right-radius: 8px;
}

.cartao-pokemon .cartao-informacoes h3 {
    font-size: 20px;
    margin-bottom: 15px;
    border-bottom: 1px solid #6b6b6b;
}

.cartao-pokemon .cartao-informacoes .status, .cartao-pokemon .cartao-informacoes .habilidade
{
    padding: 0 10px;
    width: 180px;
}

.cartao-pokemon .cartao-informacoes .habilidade ul li, .cartao-pokemon .cartao-informacoes .status ul li{
    border-bottom: 1px solid #c3c4c5;
    padding: 0 0 5px;
    margin-bottom: 5px;
    font-size: 15px;
}

.cartao-pokemon.aberto{
    display: block;
}

.tipo-raio {
    background-color: #fcc719;
}
.tipo-Fogo {
    background-color: #ed8a8b;
}
.tipo-planta {
    background-color: rgb(10, 245, 167);
}
.tipo-Agua {
    background-color: aqua;
}
.tipo-Nebulosa {
background-color: rgb(94, 27, 161);
}
